*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 nav{
    display: flex;
    justify-content: space-between;
    background-color:white;
    color: black;
    padding: 0px;
    
 }
 .left-section{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 300px;
 }
 .left-section select{
   border: 0;
   background: none;
   padding: 0px;
   margin: 0px;
   color: black;
 }
 .left-section img,select{
   margin: 0 8px 0 8px;
 }
 .right-section{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 300px;
 }
 @media only screen and (max-width:1000px) {
  .select {
    display: none;
  }

 }
 @media only screen and (max-width:750px) {
  .right-section{
    display: none;
  }
 }
 ul{
   list-style-type: none;
   display: flex;
   align-items: center;
   text-decoration: none;
   margin-left: 50px;
 }
 .list a{
   text-decoration: none;
   color: black;
 }
 .allpaths,.about,.community,.supportus,.signin{
   margin-right: 10px;
   margin-left: 40px;
   align-items: center;
 }
 .sun{
   align-items: center;
   margin-left: 10px;
 }
 
 
 .get{
   align-items: center;
   margin-left: 10px;
   justify-content: center;
   
 }
 .moon{
  align-items: center;
  margin-left: 10px;
  justify-content: center;
  
 }
 @media only screen and (min-width:749px) and (max-width:2017px) {
  .moon{
    display: none;
  }
 }

 
 .what{
  height: 400px;
  width: 100%;
  
 }
 .who{
  padding-top: 150px;
  font-size: 3.75rem;
  margin: auto;
  justify-content: center;
  text-align: center;
  
 }
 .where{
  font-size: 1.25rem;
  line-height: 1.75rem;
 }

 .do button{
  height: 50px;
  width: 250px;
  margin-left: 45%;
  background-color: white;
  border-radius: 10px;
 }
 .hai{
  height: 700px;
  width: 100%;
 }
 .he{
  justify-content: center;
  text-align: center;
  
 }

 
 



 

 
    
 

 

 