*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    
    
}
  ul{
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    align-items: center;
     position: sticky;
     justify-content: center;
    
}
.applelogo{
    margin-left: 35px;
    background-color:black;
    
    
    
}
.store,.mac,.ipa,.iph,.watch,.vis,.air,.tv,.enter,.acc,.supp{
    margin-right: 10px;
    margin-left: 40px;
    align-items: center;
}




.list a{
    text-decoration: none;
    color:white;
}
.box1{
    margin-left: 35px;
    
    align-items: center;
    display: flex;
    
}
.iphone{
    position: absolute;
    color: white;
    top: 100px;
    left: 40%;
    margin-left: 100px;
}
.learn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 200px;
    left: 40%;
}
.wearing{
   align-items: center; 
   justify-content: center;
   font-size: 21px;
   font-weight: 400;
   
}
.wearing a{
    text-decoration: none;
    margin-left: 40px;
}
.learning{
    margin-left: 80px;
    
}
.learning a{
    text-decoration: none;
}
.dear{
    position: relative;
    text-align: center;
}
.titanic{
    position: absolute;
    top: 30px;
    left: 40%;
    color: black;
}
.hei{
    display: flex;
    position: absolute;
    top: 150px;
    left: 40%;
    justify-content: center;
    align-items: center;
}
.hai{
    font-size: 21px;
    
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.hei a{
    text-decoration: none;
    margin-left: 40px;
}
.hei1{
    margin-left: 80px;
}
.load{
    position: relative;
    text-align: center;
}
.loader{
    position: absolute;
    top: 30px;
    left: 40%;
    color: black;
}
.one{
    display: flex;
    position: absolute;
    top: 150px;
    left: 40%;
    justify-content: center;
    align-items: center;
}
.three{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    
}
.one a{
    text-decoration: none;
    margin-left: 40px;
}
.two{
    margin-left: 40px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    width: 100%;
}
.source{
    position: relative;
    text-align: left;
}
.sourcer{
    position: absolute;
    top: 30px;
    left: 20%;
}
.four{
    display: flex;
    position: absolute;
    top: 150px;
    left: 20%;
    justify-content: center;
    align-items: center;
}
.six{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.four a{
    text-decoration: none;
    margin-left: 20px;
}
.short{
    position: relative;
    text-align: left;
}
.shorter{
    position: absolute;
    top: 30px;
    left: 20%;
}
.seven{
    display: flex;
    position: absolute;
    top: 150px;
    justify-content: center;
    align-items: center;
}
.nine{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.seven a{
    text-decoration: none;
    margin-left: 20px;
}
.eight{
    margin-left: 200px;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    width: 100%;
}
.found{
    position: relative;
    text-align: left;
}
.founder{
    position: absolute;
    top: 30px;
    left: 20%;
    
}
.ten{
    display: flex;
    position: absolute;
    top: 150px;
    justify-content: center;
    align-items: center;
}
.twelve{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.ten a{
    text-decoration: none;
    margin-left: 20px;
}
.eleven{
    margin-left: 150px;
}
.front{
    position: relative;
    text-align: left;
}
.fronter{
    position: absolute;
    top: 70px;
    left: 20%;
}
.thirteen{
    display: flex;
    position: absolute;
    top: 150px;
    justify-content: center;
    align-items: center;

}
.fifteen{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.thirteen a{
    text-decoration: none;
    margin-left: 20px;
}
    
.fourteen{
    margin-left: 50px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    width: 100%;
}
.select{
    position: relative;
    text-align: left;
}
.selector{
    position: absolute;
    top: 30px;
    left: 20%;
}
.sixteen{
    display: flex;
    position: absolute;
    top: 150px;
    justify-content: center;
    align-items: center;
}
.eighteen{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.sixteen a{
    text-decoration: none;
    margin-left: 20px;
}
.seventeen{
    margin-left: 50px;
}
.right{
    position: relative;
    text-align: left;
}
.righter{
    position: absolute;
    top: 30px;
    left: 20%;
}
.ninteen{
    display: flex;
    position: absolute;
    top: 150px;
    justify-content: center;
    align-items: center;
}
.twentyone{
    font-size: 21px;
    font-weight: 400;
    justify-content: center;
}
.ninteen a{
    text-decoration: none;
    margin-left: 20px;
}
.twenty{
    margin-left: 50px;
}
.image{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 90px;
}
.paragragh{
 margin-top: 10px;
 height: 300px;
 
 
 
 width: 60%;
 margin-left: 300px;
 letter-spacing: 2px;
 line-height: 20px;
}
.large{
    margin-top: 50px;
    border-top: 2px solid blue;
    flex-direction:column ;
    margin-bottom: 15px;
    
}
.small{
    display: flex;
    margin-left: 0px;
    margin-top: 30px;
    
    
}
.small ul{
    list-style-type: none;
    flex-direction: column;
}
.small1{
    margin-left: 50px;
    
    display: flex;
}
.small1 ul{
    flex-direction: column;
}
.small1 li:nth-child(5){
    margin-top: 10px;
}
.small2{
    margin-left: 70px;
    display: flex;
}
.small2 ul{
    flex-direction: column;
}
.small3{
    margin-left: 90px;
    display: flex;
}
.small3 ul{
    flex-direction: column;
}

/*n=1,2,3*/
.small3 li:nth-child(4n){
    margin-top: 10px;
}
.small4{
    margin-left: 110px;
    display: flex;
    
    
}
.small4 ul{
    flex-direction: column;
}
.small4 li:nth-child(9){
    margin-top: 10px;


}
.small li:nth-child(13){
    margin-top: 10px;
}
.happy{
    margin-top: 20px;
    margin-left: 300px;
}
    
    








