*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    
    
}
  ul{
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    align-items: center;
     position: sticky;
    
}
.applelogo{
    margin-left: 35px;
    background-color:black;
    
    
    
}
.store,.mac,.ipa,.iph,.watch,.vis,.air,.tv,.enter,.acc,.supp{
    margin-right: 10px;
    margin-left: 40px;
    align-items: center;
}




.list a{
    text-decoration: none;
    color:white;
}
.box1{
    margin-right: 35px;
    
    align-items: center;
    display: flex;
    
}