*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border:1px solid black;
    padding:5px;
    margin:15px 50px 0px 50px:
}
 
.nav-container{
    background-color: #0f1111;
    border: 2px solid red;
    height: 60px;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-list{
    border: 2px solid black;
}

.nav-item{
    border: 2px solid green;
    display: inline;
    color: white;
    margin: 0px 72px 0px 86px ;
}


.nav-logo{
    display: inline;
    font-size: 25px;
    color: orange;
    margin-right: 3px;
}

input{
    margin-right: 3px;
}

button{
    background-color: orange;
}
