*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#bookload{
    height: 40px;
    margin-left: 60px;
}
#myinput{
    width: 350px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
#search{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.container{
    display: flex;
    margin: 15px;
}
#mybutton{
    background: red;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
#addbutton{
    background: orangered;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    
}
#fifty{
    padding: 20px;
    background-color: white;
}
#menu{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
#dropdown{
    margin-left: 550px;
    height: 25px;
    margin-top: 10px;
}
.list-container,ul,li{
    display: flex;
    margin: 10px;
    margin-left: 10px;
}
.list-left,ul{
    margin-left: opx;
}
.list-right,ul{
   margin-left: 300px;
}
#imageeee{
    width: 95%;
    padding: 20px;
}
.add-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.heading{
    margin-top: 10px;
    text-align: center;
}
.add-container input{
    width: 200px;
    display: block;
    margin-top: 5px;
}
.add-container button{
    margin-top: 10px;
    margin-left: 20px;
}
#bodys{
    background-color: aqua;
}

.card{
    margin-top: 100px;
    margin-right: 50px;
}

#card-body{
    font-size: 30px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

#film-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 10px;
}

#card-body a{
    font-size: 20px;
    color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card-body{
    padding: 20px;
}

#card-body img,a,h6,h5{
    margin: 0 20px 0 10px;
}
.card{
    background-color: white;
    margin-bottom: 50px;
}

.footer{
    background-color: black;
    color:white;

}
.footer ul li{
    font-size: 20px;
    margin-right: 10px;
}

#imageeee{
    margin-left: 80px;
}
