*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
}

.left-section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-section select{
    border: 0;
    background: none;
    padding: 0px;
    margin: 0px;
    color: white;
}

.left-section img,select{
    margin: 0 8px 0 8px;
}

.right-section{
   display: flex;
   justify-content: center;
   align-items: center;

}

.right-section .stores,.contact,.login,.heart,.bag{
    padding: 0 5px 0 5px;
    border-right: 2px solid white;
}
.stores{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}


