*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    position: fixed;
    top: 10px;
    height: 70%;
    width: 60%; 
    background-image: url('istockphoto-1347784849-612x612.jpg');
    background-size: contain;
    right: 0;
    z-index: -1;
    
}