*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    position: fixed;
    top: 10px;
    height: 70%;
    width: 60%; 
    background-image: url("/html/images/garden.jpg");
    background-size: contain;
    z-index: -1;
    
}